*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#header{
    width: 100%;
    height: 80vh;
    /* border: 2px solid red; */
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#nav{
    width: 100%;
    height: 20%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#lnav{
    width: 30%;
    height: 100%;
    /* border: 2px solid green; */
    font-size: 24px;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F9FAF8;
    display: flex;
    align-items: center;
}
#rnav{
    width: 30%;
    height: 100%;
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: #E5E7EB;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}
#navbtm{
    width: 100%;
    height: 70%;
    /* border: 2px solid yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 53px;
}
#lbtm{
    width: 35%;
    height: 90%;
    /* border: 2px solid wheat; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#awesome{
    font-size: 48px;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F9FAF8;
}
#subtext{
    color: #E5E7EB;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    padding-bottom: 20px;
}
#subtn{
    background-color: #3882f6;
    color: #F9FAF8;
    width: 115px;
    height: 35px;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#rbtm{
    width: 35%;
    height: 90%;
    /* border: 2px solid wheat; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#image{
    width: 90%;
    height: 70%;
    background-color: hsl(213.75deg 6.84% 45.88%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E5E7EB;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#box1{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#tbox1{
    width: 60%;
    height: 20%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1f2937;
}
#bbox1{
    width: 60%;
    height: 70%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.subbox{
    width: 20%;
    height: 90%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.subtop{
    width: 90%;
    height: 60%;
    border: 4px solid #3882f6;
    border-radius: 15px;
}
.subbot{
    width: 90%;
    height: 30%;
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(213.75deg 7.21% 56.47%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;

}
#box2{
    height: 50vh;
    width: 100%;
    background-color: hsl(220deg 13.04% 90.98%);
    display: flex;
    align-items: center;
    justify-content: center;
}
#subbox2{
    height: 90%;
    width: 50%;
    /* border: 2px solid black; */
    font-size: 36px;
    color: #1f2937;
    font-family: light italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
pre{
    color: black;
    font-size: 20px;
    font-weight: 600;
}
#box3{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#subbox3{
    width: 65%;
    height: 45%;
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#lsubbox3{
    width: 50%;
    height: 90%;
    /* border: 2px solid black; */
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
#rsubbox3{
    width: 30%;
    height: 90%;
    /* border: 2px solid black; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    color: #E5E7EB;

}
#btn{
    width: 100px;
    height: 30px;
    border: 3px solid white;
    border-radius: 8px;
    background-color: #3882f6;
    color: #E5E7EB;
    font-size: 15px;
}
#footer{
    width: 100%;
    height: 15vh;
    background-color: #1f2937;
    color: #E5E7EB;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}